<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{pageTitle}}</title>

    <!-- <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="images/favicon.png"> -->
</head>

<body>
    <h1>
      We'll Be Right Back
    </h1>
    <p>
      This Site is curently been updated.
    </p>
</body>

</html>